@import './button.css';
@import './div.css';
@import './list.css';
@import './container.css';
@import './gridHeader.css';
@import './gridFooter.css';
@import './pagination.css';

@import './listRow';

html {
    direction: rtl;
  }

body {
  margin: 20px;
}

.reset {
  all: revert;
}



.navbar-toggler {
  border-radius: 50px;
  border: 1px solid black;
  background-color: white;
}

.navbar-toggler:hover{
  background-color: red;
} 

.navbar-toggler:hover > #rect{
  fill: white;
}